html {
  box-sizing: border-box;

  font: normal 100%/1.5 Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

body {
  color: white;
  margin: 0;
}

ul {
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}

li {
  text-align: center;
  float: left;
  width: 33.333%;
  overflow: hidden;
  border: 1px solid #a63f38;
}

h1 {
  margin-top: 0;
  font-size: 2rem;
  display: block;
}

.image-float-right {
  width: 100%;
  max-width: 3rem;
  max-height: 3rem;
  float: right;
}

.image-float-left {
  width: 100%;
  max-width: 3rem;
  max-height: 3rem;
  float: left;
}
